{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
    <header>
        <h1>Contact symblog</h1>
    </header>

    {#{% if app.session.flashBag.get('blogger-notice') %}#}
        {#<div class="blogger-notice">#}
            {#{{ app.session.flashBag.get('blogger-notice') }}#}
        {#</div>#}
    {#{% endif %}#}
    {% for flash_message in app.session.flashBag.get('blogger-notice') %}
        <div class="blogger-notice">
            {{ flash_message }}
        </div>
    {% endfor %}
    <p>Want to contact symblog?</p>

    <form action="{{ path('BloggerBlogBundle_contact') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
{% endblock %}